/* Reseteo de Estilos */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Inicialización de variables */
:root {
    --color-primary: cyan;
    --color-secundary: blue;
    --maxWidth: 1200px;
    --color-letter: white;
}

/* Fuentes personalizadas */
/* Utilización de fuentes - Accsebilidad */
/* 1em = 16px */
html{
    /* Accesibilidad - 62.5 va a equivaler a 10px sobre tamaño Normal de nuestro navegador que está establecido en 16px */
    /* font-size: 10px; */
    font-size: 62.5%;
}

.container{
    width: var(--maxWidth);
    border: 1px solid black;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100px;
    background-color: var(--color-primary);
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    font-size: 1,4rem;
    /* font size: 62.5%; --> equivale a 10px Fuente Normal (16px); */
    /* 1,4rem --> equivale a 14px (1.4 * 10px) */
}
/* Barra de Navegación */
.navbar{
    width: 100%;
    background-color: var(--color-secundary);
    height: 40px;
    font-size: 1.7rem;
    color: var(--color-letter);
    box-shadow: 0px 0px 20px grey;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2); */
}
.navbar__list{
    /* display: flex;
    flex-direction: row; */
    margin: 0px auto;
    width: 95%;
}
.list__item{
    /* display:inline-block; */
    float:left;
    line-height: 40px;
}